/* YOUR CUSTOM CSS */

#img_placeholder_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.object-cover{
    object-fit: cover;
}