/* YOUR CUSTOM CSS */

#img_placeholder_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-height: 315px;
    overflow: hidden;
}

.object-cover{
    object-fit: cover;
}
.count-rd{
    margin-left: 6px;
}
.count-p{
    margin-left: 9px;
}
.count-a{
    margin-left: 10px;
}

.count-r{
    margin-left: 23px;
}
